<form method="post" action="/products/create">

    <div>
        <label>
            Name:
            <br />
            <input name="Name" />
        </label>
    </div>

    <div>    
        <label>
            Price:
            <br />
            <input name="Price" />
        </label>
    </div>

    <div>
        <input type="submit" value="Create Product" />
    </div>

</form>