

<form method="post" action="/products/create">

    <fieldset>
        <legend>Product 1</legend>
        <div>
            <label>
                Name:
                <br />
                <input name="Product1.Name" />
            </label>
        </div>
        <div>
            <label>
                Price:
                <br />
                <input name="Product1.Price" />
            </label>
        </div>
    </fieldset>

    <fieldset>
        <legend>Product 2</legend>
        <div>
            <label>
                Name:
                <br />
                <input name="Product2.Name" />
            </label>
        </div>
        <div>
            <label>
                Price:
                <br />
                <input name="Product2.Price" />
            </label>
        </div>
    </fieldset>
    <div>
        <input type="submit" value="Add Products" />
    </div>

</form>